@use "colors" as c;
@use "animations";
@use "small" as s;
@use "medium" as m;
@use "large" as l;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Raleway", sans-serif;
	font-size: 1.6rem;

	color: $white;
	background-color: $dark;
}

//HEADER

h1.company-name {
	margin-bottom: 0.5em;
	font-size: 3rem;
	font-family: "Cinzel", serif;
	color: $gold;
}

